.product-image-zoom
{
    display: block;
    border:none !important;
    text-align: center;
}

.product-image-gallery{
    display: inline-block;
    border : 1px solid #EDEDED;
    max-width: 100%;
}