<?xml version="1.0"?>
<config>
    <modules>
        <SM_Megamenu>
            <version>0.1.0</version>
        </SM_Megamenu>>
    </modules>

    <frontend>
        <routers>
            <megamenu>
                <use>standard</use>
                <args>
                    <module>SM_Megamenu</module>
                </args>
            </megamenu>
        </routers>
        <layout>
            <updates>
                <megamenu>
                    <file>megamenu.xml</file>
                </megamenu>
            </updates>
        </layout>
    </frontend>

    <admin>
        <routers>
			<megamenu>
				<use>admin</use>
				<args>
					<module>SM_Megamenu</module>
					<frontName>megamenu</frontName>
				</args>
			</megamenu>
        </routers>
    </admin>

    <adminhtml>
		<menu>
			<megamenu module="megamenu">
				<title>Mega Menu</title>
				<sort_order>71</sort_order>
				<children>
					<items module="megamenu">
						<title>Manage Menu Items</title>
						<sort_order>0</sort_order>
						<action>megamenu/adminhtml_megamenu</action>
					</items>
				</children>
			</megamenu>
		</menu>
		<acl>
			<resources>
				<all>
					<title>Allow Everything</title>
				</all>
				<admin>
					<children>
						<SM_Megamenu>
							<title>Manage Menu Item</title>
							<sort_order>10</sort_order>
						</SM_Megamenu>
					</children>
                    <children>
                        <system>
                            <children>
                                <config>
                                    <children>
                                        <megamenu_options>
                                            <title>Mega Menu Config</title>
                                        </megamenu_options>
                                    </children>
                                </config>
                            </children>
                        </system>
                    </children>
				</admin>
			</resources>
		</acl>
		<layout>
			<updates>
				<megamenu>
					<file>megamenu.xml</file>
				</megamenu>
			</updates>
		</layout>
    </adminhtml>   
    <global>
        <models>
            <megamenu>
                <class>SM_Megamenu_Model</class>
                <resourceModel>megamenu_mysql4</resourceModel>
            </megamenu>
            <megamenu_mysql4>
                <class>SM_Megamenu_Model_Mysql4</class>
                <entities>
                    <megamenu>
                        <table>megamenu</table>
                    </megamenu>
                </entities>
            </megamenu_mysql4>
        </models>
        <resources>
            <megamenu_setup>
                <setup>
                    <module>SM_Megamenu</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </megamenu_setup>
            <megamenu_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </megamenu_write>
            <megamenu_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </megamenu_read>
        </resources>
        <blocks>
            <megamenu>
                <class>SM_Megamenu_Block</class>
            </megamenu>
        </blocks>
        <helpers>
            <megamenu>
                <class>SM_Megamenu_Helper</class>
            </megamenu>
        </helpers>
    </global>
    <!--<stores>-->
        <!--<admin>-->
            <!--<dev>-->
                <!--<debug>-->
                    <!--<template_hints>1</template_hints>-->
                    <!--<template_hints_blocks>1</template_hints_blocks>-->
                <!--</debug>-->
            <!--</dev>-->
        <!--</admin>-->
    <!--</stores>-->
</config>