<config>
    <tabs>
        <sm translate="label" module="megamenu">
            <label>SM</label>
            <sort_order>999</sort_order>
        </sm>
    </tabs>

    <sections>
        <megamenu_options translate="label" module="megamenu">
            <label>Mega Menu Config</label>
            <tab>sm</tab>
            <frontend_type>text</frontend_type>
            <sort_order>1000</sort_order>
            <show_in_default>1</show_in_default>
            <show_in_website>1</show_in_website>
            <show_in_store>1</show_in_store>
            <groups>
                <general>
                    <label>General config</label>
                    <frontend_type>text</frontend_type>
                    <sort_order>1000</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
                    <fields>
                        <enable>
                            <label>Enable/Disable</label>
                            <frontend_type>select</frontend_type>
                            <source_model>megamenu/megamenu</source_model>
                            <sort_order>1</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </enable>
                        <category_level>
                            <label>Category Level</label>
                            <frontend_type>text</frontend_type>
                            <!--<source_model>megamenu/megamenu</source_model>-->
                            <sort_order>1000</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </category_level>
                    </fields>
                </general>
            </groups>
        </megamenu_options>
    </sections>
</config>