<?xml version="1.0"?>
<config>
    <modules>
        <SM_Featured>
            <version>0.1.0</version>
        </SM_Featured>
    </modules>

    <global>
        <helpers>
            <featured>
                <class>SM_Featured_Helper</class>
            </featured>
        </helpers>
        <models>
            <featured>
                <class>SM_Featured_Model</class>
            </featured>
        </models>
        <resources>
            <featured_setup>
                <setup>
                    <module>SM_Featured</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </featured_setup>
        </resources>
        <blocks>
            <featured>
                <class>SM_Featured_Block</class>
            </featured>
        </blocks>
    </global>

    <admin>
        <routers>
            <featured>
                <use>admin</use>
                <args>
                    <module>SM_Featured</module>
                    <frontName>featured</frontName>
                </args>
            </featured>
        </routers>>
    </admin>

    <adminhtml>
        <acl>
            <resources>
                <admin>
                    <children>
                        <system>
                            <children>
                                <config>
                                    <children>
                                        <featured_options>
                                            <title>Featured Products Config</title>
                                        </featured_options>
                                    </children>
                                </config>
                            </children>
                        </system>
                    </children>
                </admin>
            </resources>
        </acl>
        <events>
            <eav_collection_abstract_load_before>
                <observers>
                    <sm_featured_add_column>
                        <type>singleton</type>
                        <class>featured/observer</class>
                        <method>addColumnToProductGrid</method>
                    </sm_featured_add_column>
                </observers>
            </eav_collection_abstract_load_before>
            <adminhtml_catalog_product_grid_prepare_massaction>
                <observers>
                    <sm_featured_add_masaction>
                        <type>singleton</type>
                        <class>featured/observer</class>
                        <method>addMassactionToProductGrid</method>
                    </sm_featured_add_masaction>
                </observers>
            </adminhtml_catalog_product_grid_prepare_massaction>
        </events>
    </adminhtml>
    <frontend>
        <layout>
            <updates>
                <featured>
                    <file>featured.xml</file>
                </featured>
            </updates>
        </layout>
    </frontend>
</config>
