<?xml version="1.0"?>
<config>
    <modules>
        <SM_Filter>
            <version>0.1.0</version>
        </SM_Filter>
    </modules>

    <global>
        <resources>
            <filter_setup>
                <setup>
                    <module>SM_Filter</module>
                    <class>SM_Filter_Model_Resource_Setup</class>
                </setup>
            </filter_setup>
        </resources>
        <helpers>
            <filter>
                <class>SM_Filter_Helper</class>
            </filter>
        </helpers>

        <blocks>
            <filter>
                <class>SM_Filter_Block</class>
            </filter>
            <catalog>
                <rewrite>
                    <layer_state>SM_Filter_Block_Rewrite_RewriteLayerState</layer_state>
                    <layer_filter_attribute>SM_Filter_Block_Rewrite_RewriteLayerAttribute</layer_filter_attribute>
                    <layer_filter_price>SM_Filter_Block_Rewrite_RewriteLayerPrice</layer_filter_price>
                </rewrite>
            </catalog>
        </blocks>
        <models>
            <filter>
                <class>SM_Filter_Model</class>
            </filter>
            <catalog>
                <rewrite>
                    <layer_filter_item>SM_Filter_Model_Layer_Filter_Item</layer_filter_item>
                    <layer_filter_attribute>SM_Filter_Model_Layer_Filter_Attribute</layer_filter_attribute>
                </rewrite>
            </catalog>
            <catalog_resource>
                <rewrite>
                    <layer_filter_attribute>SM_Filter_Model_Resource_Layer_Filter_Attribute</layer_filter_attribute>
                </rewrite>
            </catalog_resource>
        </models>
    </global>

    <admin>
        <routers>
            <filter>
                <use>admin</use>
                <args>
                    <module>SM_Filter</module>
                    <frontName>filter</frontName>
                </args>
            </filter>
        </routers>
    </admin>

    <adminhtml>
        <events>
            <adminhtml_catalog_product_attribute_edit_prepare_form>
                <observers>
                    <add_filter_type>
                        <type>singleton</type>
                        <class>filter/observer</class>
                        <method>addFilterType</method>
                    </add_filter_type>
                </observers>
            </adminhtml_catalog_product_attribute_edit_prepare_form>
        </events>
    </adminhtml>

    <frontend>
        <routers>
            <catalog>
                <args>
                    <modules>
                        <SM_Filter before="Mage_Catalog">SM_Filter</SM_Filter>
                    </modules>
                </args>
            </catalog>
        </routers>
        <layout>
            <updates>
                <filteras>
                    <file>filter.xml</file>
                </filteras>
            </updates>
        </layout>
    </frontend>
</config>