<?xml version="1.0"?>
<config>
    <sections>
        <productzoom_options>
            <label>Product Zoom Config</label>
            <tab>sm</tab>
            <frontend_type>text</frontend_type>
            <sort_order>100</sort_order>
            <show_in_default>1</show_in_default>
            <show_in_website>1</show_in_website>
            <show_in_store>1</show_in_store>
            <groups>
                <main_image>
                    <label>Main Image</label>
                    <frontend_type>text</frontend_type>
                    <sort_order>0</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
                    <fields>
                        <width>
                            <label>Width</label>
                            <validate>required-entry validate-number</validate>
                            <comment>px</comment>
                            <frontend_type>text</frontend_type>
                            <sort_order>0</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </width>
                        <height>
                            <label>Height</label>
                            <validate>required-entry validate-number</validate>
                            <comment>px</comment>
                            <frontend_type>text</frontend_type>
                            <sort_order>0</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </height>
                    </fields>
                </main_image>

                <box_zoom>
                    <label>Box Zoom</label>
                    <frontend_type>text</frontend_type>
                    <sort_order>1</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
                    <fields>
                        <width>
                            <label>Width</label>
                            <validate>required-entry validate-number</validate>
                            <comment>px</comment>
                            <frontend_type>text</frontend_type>
                            <sort_order>0</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </width>
                        <height>
                            <label>Height</label>
                            <validate>required-entry validate-number</validate>
                            <comment>px</comment>
                            <frontend_type>text</frontend_type>
                            <sort_order>0</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </height>
                    </fields>
                </box_zoom>

                <thumbnail>
                    <label>Thumbnail</label>
                    <frontend_type>text</frontend_type>
                    <sort_order>1</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
                    <fields>
                        <width>
                            <label>Width</label>
                            <validate>required-entry validate-number</validate>
                            <comment>px</comment>
                            <frontend_type>text</frontend_type>
                            <sort_order>0</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </width>
                        <height>
                            <label>Height</label>
                            <validate>required-entry validate-number</validate>
                            <comment>px</comment>
                            <frontend_type>text</frontend_type>
                            <sort_order>0</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </height>
                    </fields>
                </thumbnail>

            </groups>
        </productzoom_options>
    </sections>
</config>